.fons {
	background: #ddd;;
}

.nav-tabs {
	border-bottom-color: #000;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
	{
	border: 1px solid #000;
	border-bottom-color: transparent;
	background-color: #ddd;
}

.margenes {
	margin-top: 20px;
	margin-bottom: 20px;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.superior {
	padding-left: 0px;
	padding-riht: 10px;
}

.webcam {
	width: 260px;
	height: 196px;
	position: relative;
	border: 1px solid #d3d3d3;
	float: left;
	top: 2px;
}

.webcam video {
	width: 100%;
	height: 100%;
	position: absolute;
}

.webcam .photoArea {
	border: 2px dashed red;
	width: 140px;
	height: 190px;
	position: relative;
	margin: 0 auto;
}

canvas {
	float: left;
}

.img_2 {
	float: left;
}

.controls {
	clear: both;
}

.margenes {
	margin-top: 20px;
}

.droptrue {
	list-style-type: none;
	margin: 0;
	margin-right: 0px;
	background: orange;
	padding: 5px;
	height: 100%;
	width: 100%;
}

.marg {
	margin: 2;
}